doctype html
html
   head 
     meta(content='width=device-width' initial-scale='1' shrink-to-fit='no' name='viewport')

     block scripts
     block style 
body
  nav#navbar
     ul
        div#logo
              img(src="/static/logo.png")
              |HDA
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Join Now] 
        li #[a(href="/") Class Service] 
        li #[a(href="/contact") Contact Us ]      
  block content 
  footer#footer
         |Copyright 2023© NeoDanceAcademy.com All Right Reserved
  